/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 6, 2015, 4:06:15 PM
    Author     : nicolagiancecchi
*/


*{
    margin:0;
    padding:0;
}

body{
    color:black;
    font-family:'Courier New';
    font-size:16px;
    background-color:white;
}

#container{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    min-width: 800px;
    margin-top:20px;
    position:relative;
}

header{
    margin-bottom:30px;
    letter-spacing:4px;
    text-align:center;
}

header h1{
    display:inline;
    font-size:34px;
}

nav{
    float:left;
    height:242px;
    width:210px;
    background-color:#b0c4de;
    text-align:center;
    margin-top:30px;
}

nav a{
    height:45px;
    margin-top:20px;
    padding-top:10px;
    text-decoration:none;
    color:black;
    display:block;
}

nav a:hover{
    color:white;
    background-color:#2f4f4f;
    margin-right:-10px;
}

article{
    margin-left:230px;
    padding-top:30px;
    padding-bottom:10px;
}

#table{
    width:420px;
    height:240px;
    border:1px solid black;
    text-align: center;
    border-collapse: collapse;
    float:left;
    display:table;
}

#table .row{
    height:40px;
    display:table-row;
    vertical-align: middle;
}

#table .cell{
    width:60px;
    display:table-cell;
    vertical-align: inherit;
}

#table .today{
    width:60px;
    display:table-cell;
    vertical-align: inherit;
    background-color:#6cb750;
}

#table .events{
    width:60px;
    display:table-cell;
    vertical-align: inherit;
    background-color:#ffcc66;
}

#table .headercell{
    background-color: #b0c4de;
    color:white;
    font-weight: bold;
    width:60px;
    display:table-cell;
    vertical-align: inherit;
}

#table .sunday{
    color:red;
}

aside{
    margin-left:432px;
    padding:20px;
    min-height: 202px;
    text-align: justify;
    font-size:14px;
    background-color: #b0c4de;
}

section{
    padding:10px;
    height:100px;
    margin-top:10px;
    background-color:#6cb750;
    margin-left:230px;
}

section li{
    margin-left:15px;
}

#status{
    position:absolute;
    top:442px;
    left:0px;
    width:217px;
    border:1.5px black dashed;
    letter-spacing: 5px;
    text-align:center;
}

#status .bold{
    font-size:14px;
    font-weight: bold;
}

footer{
    height:80px;
    background-color:#2f4f4f;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    clear:both;
    margin-top:20px;
}

.underlined{
    text-decoration: underline;
}

.bolditalic{
    font-weight: bold;
    font-style: italic;
}

#logincontainer{
    margin-top:60px;
    margin-left:230px;
    min-height:400px;
}

form{
    border:1px solid gray;
    text-align:right;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
    width:450px;
}

form input{
    margin-right:60px;
    margin-left:40px;
}

form .entry{
    
    margin-top:60px;
    margin-bottom:60px;
}