/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 9, 2015, 3:28:09 PM
    Author     : nicolagiancecchi
*/

*{
    margin:0;
    padding:0;
}

body{
    min-width: 800px;
    font-family:'Verdana';
    font-size:12px;
}

a{
    text-decoration: none;
}

#main{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}

header{
    padding-top:5px;
}

header img{
    height:150px;
    width:auto;
    vertical-align:middle;
}

header #title{
    font-size:24px;
    font-weight: bold;
    margin-left:30px;
}

#status{
    position:absolute;
    top:10px;
    right:10px;
}

nav{
    margin-top:10px;
    margin-bottom:5px;
    padding-top: 5px;
    padding-bottom:5px;
    border-bottom:1px solid grey;
}

nav a{
    padding-left:15px;
    padding-right:15px;
    color:#1a1a1a;
}

nav a:hover{
    color:#ff8c00;
}

article{
    width:600px;
    float:left;
    margin-bottom:20px;
}

aside{
    margin-left:600px;
    padding:10px;
    text-align: justify;
}

#loginmessage{
    margin:20px;
}

#loginmessage h1{
    font-weight: normal;
    font-size:22px;
}

section{
    text-align:center;
    border-bottom: 1px solid grey;
}

section a{
    background-color:#ff8c00;
    color:white;
    padding:5px;
}

section div{
    margin-bottom:10px;
}

section img{
    height:100px;
    width:auto;
    padding:10px;
}

form{
    border:1px solid grey;
    border-radius: 5px;
    padding-left:30px;
    padding-right:30px;
    width:250px;
    text-align:right;
    margin-bottom:30px;
}

form .entry{
    margin-top:30px;
    margin-bottom:30px;
}

form #desc{
    text-align:left;
}

form input{
    margin-left:30px;
}

form #submit{
    width:100px;
}

footer{
    height:100px;
    background-color:#ff8c00;
    padding:30px;
    clear:both;
}

footer h2{
    font-size:16px;
    margin-bottom:20px;
}

.bold{
    font-weight: bold;
}