/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 6, 2015, 9:08:31 PM
    Author     : nicolagiancecchi
*/

*{
    margin:0;
    padding:0;
}

body{
    color:#cccccc;
    line-height:20px;
    font-family:'Verdana';
    font-size: 12px;
    background-color: black;
}

div{
    background-color: transparent;
}

#container{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    margin-bottom:0px;
    background-image:url('maya.gif');
    background-repeat: no-repeat;
    background-position: center right;
}

#top{
    height:84px; //total:104px;
    padding-top:20px;
}

#top h1{
    font-size: 40px;
    text-align:center;
}

#navbar{
    width:80%;
    margin-top:20px;
    margin-right:auto;
    margin-left:auto;
}

#navbar a{
    width:33%;
    height:20px;
    float:left;
    border-bottom:2px #cccccc solid;
    border-top:2px #cccccc solid;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color:#cccccc;
    font-size:14px;
}

#navbar a:hover{
    background-color: #cccccc;
    color:black;
}

#content{
    margin-top:20px;
    margin-left:300px;
    margin-right:300px;
    padding:50px;
    text-align: justify;
}

#status{
    width:300px;
    margin-top:40px;
    padding-top:50px;
    padding-bottom:20px;
    text-align:justify;
    position:fixed;
    top:100px;
    left:100px;
}

#status p{
    border-bottom: 1px solid #cccccc;
    padding-right:25px;
    margin-left:20px;
    margin-bottom:15px;
}

form{
    width:350px;
    text-align:right;
    border:1px solid #cccccc;
    border-radius: 10px;
    margin-top:40px;
}

form input{
    margin-left:40px;
    margin-right:40px;
}

form .entry{
    margin-top:40px;
    margin-bottom:40px;
}


.italic{
    font-style: italic;
}