<%-- any content can be specified here e.g.: --%>
<%@ page pageEncoding="UTF-8" %>
<h1>Il Calendario Maya</h1>
                <div id="navbar">
                    <%@include file="navbar.jspf" %>
                </div>