/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 20, 2014, 9:05:11 AM
    Author     : nicolagiancecchi
*/


*
{
    margin: 0;
    padding: 0;
}

body{
    background-attachment: fixed;
    background-repeat: repeat;
    background-image: url('../images/cloth_1.jpg'); 
    padding-top:30px;
    font-family:'Helvetica';
}

#nome{
    position:fixed;
    height:20px;
    width:100px;
    top:15px;
    right:15px;
    background-color:#ffffff;
    border: 1px solid #000000;
}
#container{
    width:90%;
    margin: 0 auto;
    background-color:#777777;
}

header {
    height:100px;
    background-color:#222222;
    color:#ffeeee;
    border-bottom-color:#ffffff;
    border-bottom-style: dotted;
    border-bottom-width:1px;
}

header h1{
    font-size:40px 
    font-weight:bold;
}

nav {
    background-color: #ffdba2;
    width:200px;
    margin: 15px 15px 15px 0;
    float: left;
    padding:10px;
}

nav a{
    display: block;
    color:#000000;
    border: solid 1px #000000;
    text-decoration:none;
    text-align:center;
    width:100%;
    padding-top:5px;
    padding-bottom:5px;
}

nav a:hover{
    border: solid 2px #000000;
    background-color:#ffe486;
}

article {
    width:100%;
    padding:15px;
    margin-left:215px;
    text-align:center;
}

.std{
    width:500px;
    border-collapse: collapse;
    border: 10px solid #000000;
    background-color:#ffefb9;
    margin: 0 auto;
}

.std th{
    background-color:#ffe68e;
}

.odd{
    background-color:#ffe074;
}

footer {
    width:100%;
    height:50px;
    background-color:#000000;
    color:#ffffff;
    text-align:center;
}

#banner{
    width:auto;
    left:0px;
    right:0px;
    bottom:0px;
    border:solid #000000 1px;
    padding:10px;
    height:20px;
    background-color:#ffffff;
    position:fixed;
}

#banner:hover{
    height:100px;
    background-color:#cccccc;
    font-size:20px;
}