/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 26, 2015, 10:03:30 PM
    Author     : nicolagiancecchi
*/

*{
    margin: 0;
    padding: 0;
}

body{
    color:black;
    font-family:'Courier New';
    font-size:16px;
    background-color:white;
}

#container{
    width: 80%;
    min-width: 600px;
    margin:0 auto;
    margin-top:20px;
    //Altezza dipende da contenuto
}

header{
    margin-bottom: 20px;
}

header h1{
    font-size:34px;
    letter-spacing: 4px;
    text-align:center;
}

header img{
    float:right;
}

header #status{
    position:absolute;
    top:0px;
    left:0px;
    width:400px;
    border:1.5px black dashed;
    letter-spacing:5px;
}

header #status #mail{
    font-size: 14px;
}

nav{
    background-color:#b0c4de;
    clear:both;
}

nav a{
    margin:20px;
    padding:20px;
    text-decoration:none;
    color:black;
}

nav a:hover{
    color:white;
    background-color:#2f4f4f;
}

article{
    padding-top:60px;
    padding-bottom:20px;
}

article #tableContainer{
    width:420px;
    height:240px;
    border: black 1px solid;
    text-align: center;
    color:white;
    border-collapse:collapse;
    float:left;
    background-color: #b0c4de;
    display:table;
    vertical-align: middle;
}

article #tableHeader{
    
    display:table-row;
    vertical-align: inherit;
}

article .tableRow{
    background-color:white;
    color:black;
    display:table-row;
    vertical-align: inherit;
}

article .cell{
    display:table-cell;
    vertical-align: inherit;
}

article .sunday{
    color:red;
    vertical-align: inherit;
}

article #today{
    background-color:#6cb750;
}

article section{
    width:420px;
    height:120px;
    padding:10px;
    background-color:#6cb750;
    float:left;
    clear:left;
    
}

article aside{
    margin-left:452px;
    min-height: 370px;
    padding:20px;
    background-color:#b0c4de;
    color:white;
}

article aside .bolditalic{
    font-weight: bold;
    font-style: italic;
}

article aside .underlined{
    text-decoration: underline;
}

article form {
    border:solid 1px lightgray;
    border-radius: 5px;
    padding:20px;
}

article form div{
    text-align:right;
    margin:20px;
    width:200px; //non va bene cosi
}


footer{
    height:60px;
    background-color:#2f4f4f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    clear:both;
}