/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 7, 2015, 10:01:47 AM
    Author     : nicolagiancecchi
*/

*{
    margin:0;
    padding:0;
    border:0;
}

body{
    color:#cccccc;
    line-height:20px;
    font-family:"Verdana";
    font-size: 12px;
    background-color:black;
}

div{
    background-color:transparent;
}

#container{
    width:90%;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    background-image: url('maya.gif');
    background-position:left center;
    background-repeat:no-repeat;
    min-width:1000px;
    min-height:500px;
}

#top{
    height:60px;
    padding-top:20px;
    width:100%;
}

#top h1{
    font-size:40px;
    text-align:center;
}

#navbar{
    width:80%;
    margin-top:60px;
    margin-left:auto;
    margin-right:auto;
}

#navbar a{
    width:30%;
    height:30px;
    float:left;
    border-top:2px solid #cccccc;
    border-bottom:2px solid #cccccc;
    text-align:center;
    font-weight: bold;
    text-decoration: none;
    font-size:14px;
    color:#cccccc;
}

#navbar a:hover{
    background-color:#cccccc;
    color:black;
}

#content{
    margin-top:30px;
    margin-left:250px;
    margin-right:250px;
    padding:50px;
    text-align: justify;
}

#content h1{
    text-align:left;
    margin-top:40px;
}

#content .avviso{
    margin-top:20px;
}

form{
    margin-top:40px;
    border:1px solid #cccccc;
    width:350px;
    text-align:right;
}

form .entry{
    margin-top:40px;
    margin-bottom:40px;
}

form input{
    margin-left:40px;
    margin-right:40px;
}

#status{
    width:250px;
    padding-top:50px;
    text-align:justify;
    float:right;
}

#status p{
    border-bottom:1px solid #cccccc;
    padding-right:25px;
    margin-left:20px;
    margin-bottom:15px;
}

.italic{
    font-style:italic;
}