<%-- any content can be specified here e.g.: --%>
<%@ page pageEncoding="UTF-8" %>

<img src="logo.png" alt="MultiAuthorBlog" />

<nav>
    <a href="index.jsp">Home</a>
    <a href="login.jsp">Login</a>    
</nav>

<%
    String user = (String)session.getAttribute("username");
    if(user!=null){
        %>
<div id="status">
    Benvenuto<br/>
    <span class="bold"><%= user %></span>
</div>
        <%
    }%>