/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 4, 2015, 3:32:51 PM
    Author     : nicolagiancecchi
*/


*{
    padding:0;
    margin:0;
}

body{
    min-width: 1020px;
    font-family:'Verdana';
    color:black;
    font-size:12px;
}

h1{
    font-family:'Georgia';
    text-transform: uppercase;
}

header{
    width:100%;
    text-align:center;
}

header img{
    width:470px;
    height:100px;
    margin-top:10px;
    margin-bottom:10px;
}

#status{
    position:absolute;
    top:10px;
    left:10px;
    border:1px black dashed;
    width:150px;
    height:50px;
}

nav{
    width:1020px;
    margin: 0 auto;
    color:#1a1a1a;
    border-bottom:1px solid #1a1a1a;
    text-align:left;
}


nav a{
    text-decoration: none;
    text-transform: uppercase;
    margin-left:20px;
    margin-right:20px;
    font-family: 'Georgia';
    color:black;
    font-size:16px;
}

nav a:hover{
    border-bottom: 5px solid #1a1a1a;
}

#container{
    width:1020px;
    margin: 0 auto;
}

section{
    width:500px;
    margin-bottom:60px;
    margin-top:40px;
    float:left;
    margin-left:20px;
}

section h1{
    color:#1a1a1a;
    border-top:1px solid #1a1a1a;
    font-size:16px;
    padding-bottom:20px;
}

article{
    padding-bottom:20px;
    text-align: justify;
}

article img{
    width:100px;
    height:60px;
    margin:20px;
    float:left;
}

article p.author{
    padding-top:10px;
    padding-bottom:10px;
}

article a.like{
    font-weight:bold;
    display:inline-block;
    width:auto;
    border:1px solid black;
    padding: 5px 20px 5px 20px;
    text-decoration:none;
    color:black;
}

aside{
    float:left;
    width:500px;
    margin-top:40px;
    text-align:justify;
}

aside h1{
    color:#1a1a1a;
    border-top:1px solid #1a1a1a;
    font-size:20px;
    padding-top:20px;
    padding-bottom:20px;
}

form{
    margin: 40px 30px 30px 30px;
    border:1px solid gray;
    text-align:right;
    padding-right:20px;
    padding-left:20px;
    width:280px;
}


form input{
    margin-left:20px;
}

div#advice{
    margin-top:40px;
}

footer{
    height:50px;
    background-color:#1a1a1a;
    border:1px solid black;
    color:white;
    position:fixed;
    bottom:0px;
    width:inherit;
}

footer p{
    margin:10px;
}

.bold{
    font-weight: bold;
}
