/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 2, 2015, 9:41:19 PM
    Author     : nicolagiancecchi
*/

*{
    margin:0;
    padding:0;
}

body{
    color:#cccccc;
    line-height: 20px;
    font-family:'Verdana';
    font-size:12px;
    background-color:black;
}

a{
    color:#cccccc;
}

#container{
    width:85%;
    margin: 0 auto;
    margin-top:20px;
    background-image:url('maya.gif');
    background-position: center right;
    background-repeat: no-repeat;
    min-width:500px;
}

.label{
    width:100px;
    float:left;
}


#top{
    height:80px;
    padding-top:20px;
    width:100%;
    border-left:solid 3px #555555;
    border-right:solid 3px #555555;
}

#top h1{
    font-size:40px;
    text-align: center;
    margin-top:20px;
}

#content{
    padding:50px;   
    border-top:solid 3px #555555;
    border-right:solid 3px #555555;
    margin-right: 250px;
}

#content h1{
    padding-top:80px;
    padding-bottom:20px;
}

#navbar{
    width:230px;
    border-bottom:solid 3px #555555;
    float:right;
    margin-right:-6px;
}

#navbar a{
    width:220px;
    padding-right: 10px;
    height:30px;
    border-top:solid 3px #555555;
    text-align:right;
    background-color:transparent;
    display:block;
    text-decoration:none;
    font-weight: bold;
    color:#cccccc;
}

#navbar a:hover{
    background-color:#cccccc;
    color:black;
    height:40px;
}

#status{
    width:350px;
    border-bottom:solid 3px #555555;
    border-right:solid 3px #555555;
    margin-top:20px;
    margin-right:20px;
    margin-bottom:10px;
    float:left;
}

#status p{
    margin-top:10px;
    margin-bottom:10px;
}
.italic{
    font-style: italic;
}