/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 3, 2015, 3:17:34 PM
    Author     : nicolagiancecchi
*/

*{
    margin:0;
    padding:0;
}

body{
    min-width:800px;
    font-family:'Verdana';
    font-size:12px;
}

#main{
    width:90%;
    margin: 0 auto;
}

header{
    padding-top:5px;
    position:relative;
}

header img{
    height:150px;
    width:auto;
    float:left;
    vertical-align:middle;
}

header h1{
    font-size:24px;
    font-weight:bold;
    text-transform: uppercase;
    margin-top:60px;
    margin-left:30px;
}

nav{
    margin-top:10px;
    margin-bottom:5px;
    padding-top:5px;
    padding-bottom:5px;
    border-bottom: 1px solid gray;
    clear:both;
}

nav a{
    padding-right:15px;
    padding-left:15px;
    color:#1a1a1a;
    text-decoration: none;
}

nav a:hover{
    color:#ff8c00;
}

article{
    width:600px;
    text-align:center;
    float:left;
    margin-bottom:30px;
}

article a{
    background-color:#ff8c00;
    padding:5px;
    color:white;
    text-decoration: none;
}

article img{
    height:100px;
    width:auto;
    padding:10px;
}

#buyingMessage{
    font-size:22px;
    padding:10px;
}

form{
    border: 1px solid gray;
    width:250px;
    padding:25px;
    margin-bottom:30px;
}

form .entry{
    margin-bottom:25px;
}

form .entry .label{
    text-align:right;
    float:left;
    width:40%;
}

form input{
    margin-left:15px;
}

form .radiolabel{
    text-align:right;
}

form .radiolabel input{
    margin-left:15px;
    margin-top:20px;
    margin-bottom:20px;
}

form #submitparag{
    text-align:right;
    margin-top:15px;
}
section{
    border-bottom: 1px solid gray;
    padding:10px;
}

aside{
    padding:10px;
}

#status{
    position:absolute;
    top:10px;
    right:10px;
    //NON VA BENE!!
}

footer{
    height:160px;
    background-color:#ff8c00;
    padding:30px;
    clear:both;
}

footer h1{
    font-size:14px;
    font-weight:bold;
    margin-bottom:30px;
}

.bold{
    font-weight:bold;
}