/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 1, 2015, 1:42:08 PM
    Author     : nicolagiancecchi
*/

*{
    margin: 0;
    padding: 0;
}

body{
    color:black;
    font-family:'Verdana';
    font-size:12px;
}

header{
    height: 200px;
}

header img{
    width:720px;
    height:150px;
    margin:20px;
}

nav{
    background-color:#1a1a1a;
    color:white;
    font-family:'Georgia';
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
    color:white;
    padding-right:20px;
    padding-left:20px;
    font-size:16px;
}

nav a:hover{
    color:#f0e68c;
}

#container{
    margin-top:50px;
    height:100%;
}

aside{
    width:280px;
    margin-left:30px;
    margin-right:20px;
    float:right;
}

aside h1{
    
    font-family:'Georgia';
    text-transform: uppercase;
    font-size:16px;
    padding-top:20px;
    padding-bottom:20px;
    border-top:1px solid black;
}

aside p{
    margin-bottom:20px;
}

section{
    margin-left:20px;
    margin-right:360px;
}

article{
    min-height: 250px;
}

article h1{
    font-family:'Georgia';
    text-transform: uppercase;
    font-size:20px;
    padding:20px;
    background-color: #f0e68c;
    width:100%;
}

article img{
    float:left;
    margin:30px;
    width:160px;
    height:120px;
}

article p{
    margin-top:30px;
    margin-bottom:30px;
}

article p span{
    font-weight:bold;
}

#loginContainer{
    margin:20px;
}

form{
    margin-top:30px;
    margin-bottom:30px;
}

form input{
    margin-top:20px;
    margin-bottom:20px;
}

footer{
    height:180px;
    background-color:#1a1a1a;
    color:white;
    padding:20px;
    clear:both;
}

footer h1{
    font-family:'Georgia';
    text-transform: uppercase;
    font-size:16px;
    margin-bottom:20px;
}