<%-- any content can be specified here e.g.: --%>
<%@ page pageEncoding="UTF-8" %>
<div id="content">
<p>Corso di Tecnologie Web</p>
<p>Scienze e Tecnologie Informatiche, Via Sacchi 3, Cesena (FC)</p>
</div>