/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 5, 2015, 10:10:06 AM
    Author     : nicolagiancecchi
*/

*{
    margin:0;
    padding:0;
}

body{
    min-width: 900px;
    color:black;
    font-family:'Verdana';
    font-size:12px;
}

h1{
    font-weight: bold;
    text-transform: uppercase;
    font-family:'Georgia';
}

header{
    height:150px;
}

header #center{
    text-align:center;
}

header img{
    width:470px;
    height:100px;
    margin:20px;
}

#status{
    position:absolute;
    width:200px;
    height:30px;
    top:10px;
    left:10px;
    border:1px black dashed;
    text-align:center;
}

nav{
    background-color:#1a1a1a;
    text-transform: uppercase;
    font-family:'Georgia';
    font-size:16px;
}

nav a{
    text-decoration:none;
    color:white;
    margin:5px 20px 5px 20px;
}

nav a:hover{
    background-color:white;
    color:#1a1a1a;
}

section{
    width:500px;
    margin-top:40px;
    float:left;
}

article{
    margin-bottom:20px;
}
article h1{
    font-size:20px;
    background-color:#1a1a1a;
    border:1px solid black;
    color:white;
    padding-top:5px;
    padding-bottom:5px;
}

article .voto{
    margin-top:20px;
    margin-bottom:10px;
    height:20px;
}

article .voto p{
    width:140px;
    float:left;
}

article .voto a{
    border:1px solid black;
    padding:5px 20px 5px 20px;
    font-weight:bold;
    text-decoration:none;
    color:black;
}

article .author{
    margin-top:10px;
    margin-bottom:10px;
}

article img{
    width:100px;
    height:60px;
    margin:20px;
    float:left;
}

aside{
    width:500px;
    margin-left:20px;
    float:right;
    margin-top:40px;
}

aside h1{
    font-size:16px;
    padding-top:20px;
    padding-bottom:20px;
    border-top:1px solid gray;
}

#container{
    width:1020px;
    margin: 0 auto;
}

form{
    margin:40px;
    border:1px solid gray;
    padding-left:20px;
    padding-right:20px;
    width:275px;
    text-align:right;
}

form input{
    margin-left:20px;
}

footer{
    height:59px;
    position:fixed;
    bottom:0px;
    width:inherit;
    color:white; 
    background-color:#1a1a1a;
    border: 1px solid black;
}

footer #content{
    padding:10px;
}

#loginmessage{
    margin-top:60px;
}
.bold{
    font-weight: bold;
}