/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 6, 2015, 11:58:51 PM
    Author     : nicolagiancecchi
*/

*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family:'Verdana';
    background-color:burlywood;
}

#container{
    width:90%;
    margin-top:30px;
    background-color:peru;
    margin-left:auto;
    margin-right:auto;
}

#top{
    height:100px;
    background-color:black;
    vertical-align: top;
}

#top h1{
    display:inline;
    color:white;
}

#top img{
    width:179px;
    height:100px;
}

#navbar{
    height:34px;
    background-image: url('navbar.gif');
    text-align:center;
}

#navbar a{
    width:130px;
    text-decoration:none;
    color:black;
    font-weight: bold;
    padding-left:30px;
    padding-right:30px;
}

#navbar a:hover{
    background-image:url('navbar2.gif');
    border-bottom:2px solid black;
}

#content{
    padding-bottom:50px;
}

#content p{
    margin:100px;
}

#banner{
    filter:alpha(opacity=70);
    -moz-opacity: .70;
    opacity: .70;
    color:white;
    font-style:italic;
    text-align:center;
    position:fixed;
    bottom:0px;
    width:100%;
    background-color:brown;
    font-size:20px;
}