/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 5, 2015, 2:57:09 PM
    Author     : nicolagiancecchi
*/

*{
    margin:0;
    padding:0;
}

body{
    font-family:'Courier New';
    color:black;
    font-size:16px;
    background-color:white;
}

#container{
    width:95%;
    min-width: 1000px;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}

header{
    margin-bottom:30px;
    text-align:center;
}

header h1{
    font-size: 30px;
    letter-spacing:2px;
    display:inline;
}

#status{
    position:absolute;
    top:0px;
    right:0px;
    width:220px;
    height:120px;
    border:1.5px black dashed;
    letter-spacing:5px;
    font-size:14px;
    text-align: center;
}

nav{
    height:40px;
    width:420px;
    border:1px solid black;
    margin-bottom:10px;
    background-color:#b0c4de;
    text-align:center;
}

nav a{
    text-decoration:none;
    color:black;
    padding-top:10px;
    border: 1px solid white;
    display:block;
    float:left;
    height:28px;
    width:138px;
}

nav a:hover{
    color:white;
    border-color:black;
}

article{
    padding-top:10px;
    padding-bottom:10px;
}

#table{
    float:left;
    width:420px;
    height:240px;
    border: 1px solid black;
    text-align:center;
    border-collapse:collapse;
    color:white;
}

#table .row{
    background-color:white;
    display:table-row;
    color:black;
}

#table .headercell{
    color:white;
    display:table-cell;
    width:60px;
    height:34px;
    vertical-align: middle;
    font-weight: bold;
    background-color:#b0c4de;
}

#table .cell{
    background-color:white;
    display:table-cell;
    width:60px;
    height:34px;
    vertical-align: middle;
}

#table .sunday{
    color:red;
}

#table .today{
    display:table-cell;
    width:60px;
    height:34px;
    vertical-align: middle;
    background-color:#6cb750;
}

#table .events{
    display:table-cell;
    width:60px;
    height:34px;
    vertical-align: middle;
    background-color:#ffcc66;
}

aside{ 
    margin-left:432px;
    padding:20px;
    min-height: 202px;
    font-size: 14px;
    text-align: justify;
    background-color:#b0c4de;
}

section{
    clear:both;
    padding:10px;
    height:60px;
    margin-top:10px;
    background-color: #6cb750;
}

section ul{
    padding-left:15px;
    padding-top:5px;
}

form{
    width:421px;
    border:1px solid gray;
    text-align:right;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

form .entry{
    padding:40px;
}

form input{
    margin-left:60px;
}

#logininfo{
    margin-top:40px;
}

footer{
    height:60px;
    background-color:#2f4f4f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top:20px;
}

.bold{
    font-weight: bold;
}

.underlined{
    text-decoration: underline;
}