/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 26, 2015, 10:03:30 PM
    Author     : nicolagiancecchi
*/

*{
    margin: 0;
    padding: 0;
}

body{
    color:black;
    font-family:'Courier New';
    font-size:12px;
    background-color:white;
}

#container{
    width: 90%;
    margin-top:0px;
    margin-bottom:0px;
    margin:0 auto;
    //Centrato
    //Altezza dipende da contenuto
}

header{
    padding: 20px;
}

header h1{
    font-size:16px;
    letter-spacing: 15px;
    text-align:center;
}

nav{
    background-color:#b0c4de;
}

nav a{
    margin:20px;
    padding:20px;
    text-decoration:none;
    color:black;
}

nav a:hover{
    color:white;
    background-color:#2f4f4f;
}

article{
    padding-top:60px;
    padding-bottom:60px;
}

article #tableContainer{
    width:420px;
    height:240px;
    border: black 1px solid;
    text-align: center;
    color:white;
    border-collapse:collapse;
    float:left;
    background-color: #b0c4de;
    display:table;
    vertical-align: middle;
}

article #tableHeader{
    
    display:table-row;
    vertical-align: inherit;
}

article .tableRow{
    background-color:white;
    color:black;
    display:table-row;
    vertical-align: inherit;
}

article .cell{
    display:table-cell;
    vertical-align: inherit;
}

article .sunday{
    color:red;
    vertical-align: inherit;
}

article #today{
    background-color:#6cb750;
}

article aside{
    margin-left:452px;
    padding:20px;
    background-color:#b0c4de;
}

article aside .bolditalic{
    font-weight: bold;
    font-style: italic;
}

article aside .underlined{
    text-decoration: underline;
}

article form {
    border:solid 1px lightgray;
    border-radius: 5px;
    padding:20px;
}

article form div{
    text-align:right;
    margin:20px;
    width:200px; //non va bene cosi
}


footer{
    height:20px;
    background-color:#2f4f4f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    clear:both;
}